/* universal rules */
html {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/stacked_circles.png");
    background-repeat: repeat;
}

h1, h2, h3, h4 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    font-size: 1.9rem;
    font-weight: 600;
}

h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.container {
    clear: both;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

li {
    display: inline-block;
}

.box {
    background-color: #fff;
    border: #ddd solid 1px;
}

a:hover {
    text-decoration: underline;
}


/* header */

header {
    height: 90px;
    background-color: #fff;
    border-bottom: #ccc solid 2px;
    overflow: hidden;
    margin-bottom: 40px;
}

.logo {
    float: left;
    width: 250px;
    height: 100px;
    color: #fff;
    background-color: #4aaaa5;
    text-align: center;
    padding-top: 30px;
}

nav {
    float: right;
    /* display: inline-block; */
    padding-top: 30px;
}

nav ul li {
    margin-left: 12px;
    color: #A3B0BA;
    font-size: 1.1rem;
}

nav ul li a {
    color: #999;
    text-decoration: none;
}

/* main */

/* section */

#profile-picture {
    /* display: inline-block; */
    float: left;
    padding-right: 27px;
    padding-top: 10px;
}

section {
    max-width: 588px;
    float: left;
    padding: 40px 30px;
    color: #777;
    margin-bottom: 40px;
    /* background-color: #fff;
    border: #ddd solid 1px; */
}

p {
    display: inline;
    line-height: 2.25;
}

section p::first-line {
    line-height: normal;
}

section h1 {
    color: #4aaaa5;
    padding-bottom: 20px;
}

section hr {
    margin-bottom: 20px;
    border-style: solid; 
    border-color: #ddd; 
    border-width: 3px 0 0 0; 
}

/* aside */

aside {
    width: 208px;
    float: right;
    padding: 30px;
}

aside h2 {
    color: #4aaaa5;
    padding-bottom: 15px;
}

aside hr {  
    margin-bottom: 25px;
    border-style: solid; 
    border-color: #ddd; 
    border-width: 2px 0 0 0;
}

/* aside ul {
    text-align: center;

}

aside li {
    margin: 2px;
} */

/* footer */

footer {
    clear: both; 
    height: 28px;
    border-top: #4aaaa5 8px solid;
    background-color: #666;
    text-align: center;
    font-size: .8rem;
    color: #bbb;
    padding-top: 40px;
}